Source: ros-groovy-baxter-interface
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-actionlib, ros-groovy-baxter-core-msgs, ros-groovy-catkin, ros-groovy-control-msgs, ros-groovy-dynamic-reconfigure, ros-groovy-rospy, ros-groovy-sensor-msgs, ros-groovy-std-msgs, ros-groovy-trajectory-msgs
Homepage: http://www.rethinkrobotics.com/sdk
Standards-Version: 3.9.2

Package: ros-groovy-baxter-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-actionlib, ros-groovy-baxter-core-msgs, ros-groovy-control-msgs, ros-groovy-dynamic-reconfigure, ros-groovy-rospy, ros-groovy-sensor-msgs, ros-groovy-std-msgs, ros-groovy-trajectory-msgs
Description: Convenient python interface classes for control of the Baxter Research Robot from Rethink Robotics.
